@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


:root{
    --primary:#1f2e88;
    --secondary:#2f66d4;
    --hover: #a2d9f5;
    --black:#333;
    --white:#fff;
    --light-color:#666;
    --light-bg:#eee;
    --border:.2rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .5rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--hover);
    border-radius: 5rem;
}

section{
    padding: 5rem 7%;
}

.heading{
    font-size: 4rem;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: .5rem;
    background-color: pink;
    cursor: pointer;
    font-size: 1.7rem;
    color: var(--black);
}

.btn:hover{
    background: var(--white);

}
.btn1{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: .5rem;
    background-color: pink;
    cursor: pointer;
    font-size: 1.7rem;
    color: var(--black);
}
.btn1:hover{
    background-color:white;
}


/* header */
.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background: var(--hover);
    background-color: pink;
    box-shadow: var(--box-shadow);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5%;
}

.header .logo{
    font-size: 5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i{
    color: var(--light-bg);
    padding-right: 1rem;
}

.header .navbar a{
    font-size: 1.7rem;
    color: var(--black);
    margin: 0 1rem;
}

.header .navbar a:hover{
    color: var(--primary);
}

.header .btn{
    margin-top: 0;
}


#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    margin-left: 1.7rem;
    display: none;
}

#menu-btn:hover{
    color: var(--primary);
}
/* header end */

/* home */

.home1{
    min-height: 50rem;
    display: flex;
    align-items: center;
    background: url(general\ dentistry.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home1 .content{
    max-width: 60rem;
    padding-left: 6rem;
    padding-top: 10rem;
}

.home1 .content h3{
    font-size: 6rem;
    color: var(--black);
    line-height: 1.2;
}

.home2{
    min-height: 50rem;
    display: flex;
    align-items: center;
    background: url(Cosmetic.dentistry.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home2 .content{
    max-width: 60rem;
    padding-left: 6rem;
    padding-top: 10rem;
}

.home2 .content h3{
    font-size: 6rem;
    color: var(--black);
    line-height: 1.2;
}

.home3{
    min-height: 50rem;
    display: flex;
    align-items: center;
    background: url(services-banner-pediatric-dentistry.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home3 .content{
    max-width: 60rem;
    padding-left: 6rem;
    padding-top: 10rem;
}

.home3 .content h3{
    font-size: 6rem;
    color: var(--black);
    line-height: 1.2;
}

.home4{
    min-height: 50rem;
    display: flex;
    align-items: center;
    background: url(Orthrodentist.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home4 .content{
    max-width: 60rem;
    padding-left: 6rem;
    padding-top: 10rem;
}

.home4 .content h3{
    font-size: 6rem;
    color: var(--black);
    line-height: 1.2;
}
.home5{
    min-height: 50rem;
    display: flex;
    align-items: center;
    background: url(general\ dentistry.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home5 .content{
    max-width: 60rem;
    padding-left: 6rem;
    padding-top: 10rem;
}

.home5 .content h3{
    font-size: 6rem;
    color: var(--black);
    line-height: 1.2;
}
.home6{
    min-height: 50rem;
    display: flex;
    align-items: center;
    background: url(Prostho1.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home6 .content{
    max-width: 60rem;
    padding-left: 6rem;
    padding-top: 10rem;
}

.home6 .content h3{
    font-size: 6rem;
    color: var(--black);
    line-height: 1.2;
}

.home7{
    min-height: 50rem;
    display: flex;
    align-items: center;
    background: url(oral1.jfif) no-repeat;
    background-size: cover;
    background-position: center;
}

.home7 .content{
    max-width: 60rem;
    padding-left: 6rem;
    padding-top: 10rem;
}

.home7 .content h3{
    font-size: 6rem;
    color: var(--black);
    line-height: 1.2;
}

.home8{
    min-height: 50rem;
    display: flex;
    align-items: center;
    background: url(Endo1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home8 .content{
    max-width: 60rem;
    padding-left: 6rem;
    padding-top: 10rem;
}

.home8 .content h3{
    font-size: 6rem;
    color: var(--black);
    line-height: 1.2;
}

.home9{
    min-height: 50rem;
    display: flex;
    align-items: center;
    background: url(xray1.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home9 .content{
    max-width: 60rem;
    padding-left: 6rem;
    padding-top: 10rem;
}

.home9 .content h3{
    font-size: 6rem;
    color: var(--black);
    line-height: 1.2;
}
.home10{
    min-height: 50rem;
    display: flex;
    align-items: center;
    background: url(dlab1.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home10 .content{
    max-width: 60rem;
    padding-left: 6rem;
    padding-top: 10rem;
}

.home10 .content h3{
    font-size: 6rem;
    color: var(--black);
    line-height: 1.2;
}
/*home end*/

/*about gen*/
.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.about .row .image{
    flex: 1 1 40rem;
}

.about .row .image img{
    border-radius: 5%;
    width: 100%;
    height: 100%;
    padding-bottom: 5%;
}

.about .row .content{
    flex: 1 1 40rem;
}

.about .row .content h3{
    color: var(--black);
    font-size: 3.5rem;
    line-height: 1.5;
}

.about .row .content p{
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
    line-height: 2;
}
/*about gen

/* footer */

.footer{
    text-align: center;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    padding: 1rem 0;
    color: black
}

.footer .box-container .box p{
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
    color: var(--light-color);
}

.footer .box-container .box .share{
    margin-top: 1rem;
}

.footer .box-container .box .share a{
    height: 4.5rem;
    width: 4.5rem;
    background-color: pink;
    color: var(--white);
    line-height: 4.5rem;
    border-radius: 10%;
    font-size: 1.7rem;
    margin-right: .3rem;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: var(--secondary);
}

.footer .box-container .box .link{
    display: block;
    font-size: 1.7rem;
    line-height: 2;
    color: var(--primary);
    padding: .5rem 0;
}

.footer .box-container .box .link:hover{
    color: var(--hover);
}

.footer .credit{
    margin-top: 3rem;
    padding-top: 3rem;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary);
    border-top: .1rem solid var(--secondary);
}

.footer .credit span{
    color: pink
}

